div.verx {
    width: 110%;
    height: 130px;
    background-color: #C4C4C4;
    ;
    color: #C4C4C4;
    margin-left: -100px;
    margin-top: -10px;
    opacity: 09;
}

h1 {
    color: #1E1E1E;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 300px;
    font-family: "Montserrat", serif;
    top: 15px
}

.body {
    width: 110%;
    height: 2000px;
    background-color: #aaa3a3;
    position: relative;
    bottom: -620px;
    left: -10px;
}



body {
    background-image: url(IMG/motor_sports_racing_drift_76597_1600x900\ 2.png);



}

.logot {
    color: #6C0606;
}

img {
    position: relative;
    width: 1920px;
    height: 838px;
    margin-top: 140px;
    left: 80px;

}

#logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: -130px;
}

#backr {}

#moto {
    position: absolute;

    left: 350px
}

#akc {
    position: absolute;
    left: 620px
}

#shl {
    position: absolute;
    left: 850px
}

#shl:hover {
    color: #6C0606;
    text-decoration: underline
}

#akc:hover {
    color: #6C0606;
    text-decoration: underline
}

#moto:hover {
    color: #6C0606;
    text-decoration: underline
}

#nov {
    position: absolute;
    width: 500px;
    height: 407px;
    object-position: px;
    top: 70px;
    border-radius: 100px;


}

div.omot {
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    position: relative;
    right: -15px;
    bottom: 1300px;
    border: 2px solid;
    border-width: 2px;
    border-color: #aaa3a3;

}

#pmot {
    position: absolute;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 8px;
    top: -100px;
}

#pmot p {
    position: absolute;
    bottom: -100px;

}

p {
    position: relative;
    bottom: -270px;
    font-family: "Montserrat", serif;
    left: 20px;
}

#ene {
    font-weight: 800;
    font-size: 25px;
}

.korz {
    position: relative;
    width: 170px;
    height: 50px;
    bottom: -130px;
    top: 100 px;
    left: 15px;
}

div.tmot {
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    position: relative;
    right: -350px;
    bottom: 1804px;
    border: 2px solid;
    border-width: 2px;
    border-color: #aaa3a3;
}
#vmot:hover{
    background: url(IMG/gr8.jpg);
    transform: scale(1.2)
}

#vmot {
    position: absolute;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 8px;
    top: -100px;
}

.korzt {
    position: relative;
    width: 170px;
    height: 50px;
    bottom: -130px;
    top: 100 px;
    left: 15px;
}

#two {
    font-weight: 800;
    font-size: 25px;
}

.tmotinf {
    position: relative;
    left: -10px;
}

div.trmot {
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    position: relative;
    right: -684px;
    bottom: 2308px;
    border: 2px solid;
    border-width: 2px;
    border-color: #aaa3a3;

}

#trmot {
    position: absolute;
    width: 285px;
    height: 220px;
    position: absolute;
    left: 20px;
    position: c;
    top: -110px;
}

#trmot:hover{
    background:url(IMG/vprhhn4hdbeyc7vniv18xgr5nljht5ya.jpg);
    transform: scale(1.1)
}
#trmot p {
    position: absolute;
    bottom: -110px;

}

p {
    position: relative;
    bottom: -270px;
    font-family: "Montserrat", serif;
    left: 20px;
}

#tro {
    font-weight: 800;
    font-size: 25px;
}

.korz {
    position: relative;
    width: 170px;
    height: 50px;
    bottom: -130px;
    top: 100px;
    left: 15px;
}

div.fmot {
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    position: relative;
    right: -1018px;
    bottom: 2812px;
    border: 2px solid;
    border-width: 2px;
    border-color: #aaa3a3;

}

#fmot {
    position: absolute;
    width: 285px;
    height: 220px;
    position: absolute;
    left: 20px;
    top: -100px;
}
#fmot:hover{
background:url(IMG/vprhhn4hdbeyc7vniv18xgr5nljht5ya.jpg);
transform: scale(1.1)
}
#fmot p {
    position: absolute;
    bottom: -110px;

}

p {
    position: relative;
    bottom: -270px;
    font-family: "Montserrat", serif;
    left: 20px;
}

#fo {
    font-weight: 800;
    font-size: 25px;
}

.korz {
    position: relative;
    width: 170px;
    height: 50px;
    bottom: -130px;
    top: 100px;
    left: 15px;
}

div.fimot {
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    position: relative;
    right: -1350px;
    bottom: 3315px;
    border: 2px solid;
    border-width: 2px;
    border-color: #aaa3a3;

}

#fimot {
    position: absolute;
    width: 290px;
    height: 220px;
    position: absolute;
    left: 20px;
    top: -100px;
}
#fimot:hover{
    background:url(IMG/vprhhn4hdbeyc7vniv18xgr5nljht5ya.jpg);
    transform: scale(1.1)
    }

#fimot p {
    position: absolute;
    bottom: -110px;

}

p {
    position: relative;
    bottom: -270px;
    font-family: "Montserrat", serif;
    left: 20px;
}

#io {
    font-weight: 800;
    font-size: 25px;
}

.korz {
    position: relative;
    width: 170px;
    height: 50px;
    bottom: -130px;
    top: 100px;
    left: 15px;
}