h1{
margin: auto;
display: block;
font-size: 40px;
text-align: center;
width: 100%;
padding: 15px;
 font-family: "Caveat"
}
.item{
max-height: 265px;
max-width: 490px;
background-color: aqua;
margin: 5px;
width: calc(50%-10px);
height: calc(95vw / 2 / 16*9);
background-position: center;
-webkit-background-size:cover;
background-size: cover;
transition: all 0.5s ease-in-out;



}
.main{

max-width: 1000px;
margin: auto;
width: 95%;
display: fex;
flex-wrap: wrap;
box-shadow: 0 0 10px 1px 
}
.item:hover{
transform:rotate(2deg) scale(1.0) ;

}






